body {

    font-family: Arial, sans-serif;

    background:#111;

    color:white;

    margin:20px;

}



h1 {

    text-align:center;

    color:#00ff99;

}



#status {

    text-align:center;

    margin:20px;

    font-size:18px;

}



table {

    width:100%;

    border-collapse:collapse;

    background:#1b1b1b;

}



th {

    background:#222;

    padding:12px;

    border-bottom:1px solid #444;

}



td {

    padding:10px;

    text-align:center;

    border-bottom:1px solid #333;

}



tr:hover {

    background:#262626;

}



td:nth-child(7){

    font-weight:bold;

}



@media(max-width:900px){


table {

    font-size:12px;

}


td,th{

    padding:6px;

}


}
