
body{
margin:0;
padding:15px;
background:#101522;
color:white;
font-family:Arial;
}

h1{
text-align:center;
color:#00ff99;
}

.top{
display:grid;
grid-template-columns:1fr;
gap:15px;
}

.bottom{
display:grid;
grid-template-columns:1fr;
gap:15px;
margin-top:15px;
}

.card{
background:#1b2338;
padding:15px;
border-radius:12px;
}

.chartBox{
background:#1b2338;
padding:15px;
margin-top:15px;
border-radius:12px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:8px;
text-align:center;
border-bottom:1px solid #333;
}

th{
color:#00ff99;
}
